<h1 style="text-align: center;">{{footerTitle}}</h1>

<div style="display: flex; justify-content:space-around; align-items:center; background-color:lightgreen; border-radius:5px">
    <a href="/">Home</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</div>